// Font Weights
$fw-thinner: 300;
$fw-thin: 500;
$fw-normal: 600;
$fw-bold: 700;
$fw-bolder: 900;

// Colors
$primary: #212529;
$primary-lighter: #343a40;
$secondary: #f8f9fa;
$secondary-lighter: #ced4da;
$gray: #6c757d;
$emphasis-color: #ffbc05;
$valid: #80b918;
$invalid: #e5383b;

// Shadows
$nav-shadow: 0px -8px 24px 2px $secondary-lighter;