@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');
@import './customs';

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: $fw-normal;
}

#bg-video {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

header {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(31,32,32,0.49205619747899154) 100%);
    position: sticky;
    top: 0;
    left: 0;

    nav {
        @include flex('horizontal', 'space-between');
        @include gap(3);
        padding-block: 1rem;
        padding-inline: 5rem;
        
        .nav-brand {
            position: relative;
            @include flex('horizontal', 'center');

            h1 {
                color: $secondary;
                font-size: 1.8rem;
            }
            span {
                color: $emphasis-color;
                margin-left: 1rem;
            }
        }
        .nav-items {
            ul {
                @include flex('horizontal', 'center');
                @include gap(3);
                padding: 0.5rem;
    
                li {
                    a {
                        font-size: medium;
                        color: $secondary;
                    }
                }
            }
        }
        .nav-addons {
            button {
                border-radius: 2rem;
                color: $secondary;
                padding-block: 0.8rem;
                padding-inline: 1.3rem;
                border: solid 2px $secondary;
                background-color: transparent;
            }
        }
    }
}

#home {
    @include gap(1.5);
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 8rem;
    height: 80vh;

    h1 {
        width: 50%;
        font-size: 2.5rem;
        
        color: $secondary;
        span {
            line-height: 6rem;
            font-size: 6rem;
        }
    }
    small {
        color: $secondary;
        font-weight: $fw-thin;
        font-size: 1.5rem;
    }
    .floating-group {
        width: 33%;

        input {
            border-radius: 4rem;
            color: $secondary;
            padding-block: 1.3rem;
            border: solid 2px $secondary;
            background-color: transparent;
        }
        label {
            color: $secondary;
            left: 30%;
        }
        span {
            position: absolute;
            pointer-events: none;
            color: $secondary;
            top: 1.9rem;
            right: 10%;
        }
    }
}

#background {
    height: 100vh;
}