@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #f8f9fa;
}

ul {
  margin: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}

button {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-weight: 600;
  font-size: medium;
  border-radius: 0.3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}

button:active {
  scale: 0.99;
}

button:hover {
  background-color: #cbd3da;
}

input[type=search], input[type=text] {
  position: relative;
  padding-block: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 1rem;
  background-color: #f8f9fa;
  border: 0;
  border-radius: 0.3rem;
  font-weight: 600;
  outline: 0;
  color: #212529;
}

input[type=search]:focus, input[type=text]:focus {
  outline: solid 3px currentColor;
}

.floating-group {
  position: relative;
  overflow: hidden;
}
.floating-group input {
  text-indent: 1.5rem;
  margin: 0;
  font-size: 1rem;
  width: 90%;
}
.floating-group label {
  position: absolute;
  font-size: medium;
  transition: all 0.3s;
  pointer-events: none;
  font-weight: 500;
  top: 30%;
}
.floating-group input:focus ~ label, .floating-group input:valid ~ label {
  transform: translateY(-200%);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#bg-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -2;
}

#bg-blur {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#bg-blur span {
  visibility: hidden;
}

#bg-blur:active ~ #welcome-modal {
  scale: 1.01;
}

header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(31, 32, 32, 0.4920561975) 100%);
  position: sticky;
  top: 0;
  left: 0;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-block: 1rem;
  padding-inline: 5rem;
}
header nav .nav-brand {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
header nav .nav-brand h1 {
  color: #f8f9fa;
  font-size: 1.8rem;
}
header nav .nav-brand span {
  color: #ffbc05;
  margin-left: 1rem;
}
header nav .nav-items ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
}
header nav .nav-items ul li a {
  font-size: medium;
  color: #f8f9fa;
}
header nav .nav-addons button {
  border-radius: 2rem;
  color: #f8f9fa;
  padding-block: 0.8rem;
  padding-inline: 1.3rem;
  border: solid 2px #f8f9fa;
  background-color: transparent;
}

#welcome-modal {
  margin-top: 5%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  position: fixed;
  background-color: rgb(239, 235, 235);
  transform: translateX(-200%);
  overflow: hidden;
  width: 40%;
  border-radius: 0.5rem;
  z-index: 2;
}
#welcome-modal h1 {
  margin: 3rem 3rem 0 3rem;
  font-size: 4rem;
  color: #212529;
}
#welcome-modal .modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  transition: all 0.5s;
}
#welcome-modal .modal-content h2 {
  margin-top: -2%;
  margin-inline: 3rem;
  color: #212529;
}
#welcome-modal .modal-content .floating-group {
  padding: 0.2rem 1rem 1rem 1rem;
  margin-left: 1rem;
}
#welcome-modal .modal-content .floating-group input {
  border-radius: 4rem;
  color: #212529;
  padding-block: 1.2rem;
  border: solid 2px #212529;
  background-color: transparent;
}
#welcome-modal .modal-content .floating-group label {
  color: #343a40;
  top: 28%;
  left: 27%;
}
#welcome-modal .modal-content .button-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 2rem;
  background-color: rgba(33, 37, 41, 0.9);
}
#welcome-modal .modal-content .button-group button {
  width: 70%;
  color: #212529;
  background-color: #f8f9fa;
  padding-block: 1rem;
}
#welcome-modal .modal-content .button-group a {
  color: #f8f9fa;
}

#home {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 8rem;
  height: 80vh;
}
#home h1 {
  width: 50%;
  font-size: 2.5rem;
  color: #f8f9fa;
}
#home h1 span {
  line-height: 6rem;
  font-size: 6rem;
}
#home small {
  color: #f8f9fa;
  font-weight: 500;
  font-size: 1.5rem;
}
#home .floating-group {
  width: 33%;
  padding: 0.3rem;
}
#home .floating-group input {
  border-radius: 4rem;
  color: #f8f9fa;
  padding-block: 1.3rem;
  border: solid 2px #f8f9fa;
  background-color: transparent;
}
#home .floating-group label {
  color: #f8f9fa;
  left: 30%;
}
#home .floating-group span {
  position: absolute;
  pointer-events: none;
  color: #f8f9fa;
  top: 1.9rem;
  right: 10%;
}

#background {
  height: 100vh;
}